// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// colors
$primary: #1f2b6b;
$error: #ef5777;
$success: #1abc9c;
$light: #F5F8FA;
$medium: #657786;
$dark: #212121;
$white: #fff;

$mprimary: #1f2b6b;
$mplight: #221f47;
$mpextralight: #ccc;
$mpdark: #1f2b6b;
$bgfontColor: #a5a5a5;
$bar: #0c1027;

// resets
body {
	margin: 0;
	color: $dark;
	background: $mplight;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	transition: 0.15s;

	&:focus {
		outline: none;
	}
}
// fonts
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0.5rem 0 0.5rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.5;
}

a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: $primary;
	margin: 0;
	cursor: pointer;

	&:hover {
		color: lighten($primary, 5%);
	}
}

// globals
section {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;

	@media screen and (max-width: 742px) {
		display: block;
	}
}

.col1,
.col2 {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0.5rem 1rem;

	@media screen and (max-width: 742px) {

	}
}

[v-cloak] {display: none}

.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba($dark, 0.4);
	z-index: 9999;

	p {
		background: $white;
		width: 150px;
		text-align: center;
		margin: 40vh auto 0;
        padding: 40px 0;
		border-radius: 3px;
		box-shadow: 0 0 20px 0 rgba($dark, 0.5);
	}
}

.error-msg {
	margin-top: 1rem;
	text-align: center;
	p {
		color: $error;
		margin: 0;
	}
}

.button {
	background: $mprimary;
	border: 0;
	outline: 0;
	color: $white;
	padding: 0.8rem 1rem;
	min-width: 150px;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background: lighten($primary, 5%);
	}
    &:disabled {
        opacity: 0.5;

        &:hover {
            background: $primary;
        }
    }
}

.text-center {
	text-align: center;
}

.inline {
	margin: 8px 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0px 10px;
	}
}

.clear {
    clear: both;
}
.circle{
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.3);
}

form {
	label {
		display: block;
		font-size: 16px;
		margin-bottom: 0.5rem;
	}

	input {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		font-size: 16px;
		padding: 10px;
		outline: 0;
		border: 1px solid #e6ecf0;
		border-radius: 3px;

		&:focus {
			box-shadow: 0 0 5px 0 rgba($dark, 0.2);
		}
	}

    textarea {
        border: 1px solid #e6ecf0;
        outline: 0;
        height: 100px;
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
// transitions
.fade-enter-active {
	transition: opacity 0.2s;
}
.fade-leave-active {
	transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}
