// navigation
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: $bar;
    -webkit-box-shadow: 0 0 5px 0 rgba(33, 33, 33, 0.5);
    box-shadow: 0 0 4px 0 rgb(33, 33, 33);
    z-index: 10;

    .backarrowdiv{
        position: relative;
    }
    
    .menuitem{
        position: relative;
    }

    .menuitem:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
        transition: all .3s linear;
        z-index: 1;
        border-radius: 5px;
    }
    .menuitem:hover:after {
        background: $mplight;
    }

    .backarrow{
        position: relative;
        width: 24px;
        top: 4px;
        cursor: pointer;
    }
    .logo{
        width: 200px;
        top: 3px;
        position: relative;
    }
    
    h3 {
        display: inline-block;
        color: $white;
        &:hover {
            color: lighten($mpextralight, 5%);
        }
    }

    ul {
        float: right;
        text-align: right;
        li {
            a {
                display: block;
                padding: 5px;
                color: $white;
                z-index: 2;
                position: relative;
                &:hover {
                    color: lighten($mpextralight, 5%);
                }
            }
            
        }
    }

    @media screen and (max-width: 742px) {
        h3 {
            display: block;
        }
        ul {
            float: none;
            text-align: center;
        }
        .deskop {
            display: none;
        }
    }
}
.bottom-bar{
    display: none;
}

@media screen and (max-width: 742px) {
    .bottom-bar{
        display: block;
        box-sizing: content-box;
        position: fixed;
        background: $bar;
        box-shadow: 0 0 10px rgba(0,0,0,.05);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        z-index: 2;
    
        ul {
            text-align: center;
            li {
                a {
                    display: block;
                    padding: 5px;
                    color: $white;
                    z-index: 2;
                    position: relative;
                    &:hover {
                        color: lighten($mpextralight, 5%);
                    }
                }
                
            }
        }
    }
}

//footer
footer {
    div {
        max-width: 1200px;
        margin: 2rem auto 4rem auto;
        text-align: center;
        a {
            color: $bgfontColor;
            padding: 0 1.5rem;
            &:hover {
                color: lighten($bgfontColor, 5%);
                cursor: pointer;
            }
        }
    }
    
}

// login
#login {
    background: linear-gradient(to right, $mprimary 0%, $mprimary 50%, $white 50%, $white 100%);

    @media screen and (max-width: 742px) {
        height: 100vh;
        background: $white;
    }

    .col1,
    .col2 {
        height: 100vh;
        padding-top: 30vh;

        @media screen and (max-width: 742px) {
            height: auto;
            padding-top: 20vh;
        }
    }
    .col1 {
        color: $white;
        @media screen and (max-width: 742px) {
            display: none;
        }

        p {
            max-width: 490px;
            margin-top: 2rem;
            line-height: 1.8;
        }

        a {
            color: $white;
            text-decoration: underline;
        }
    }
    .signup-form {
        padding-top: 20vh;

        @media screen and (max-width: 742px) {
            padding-top: 10vh;
        }
    }
    .col2 {
        h1 {
            margin-bottom: 2rem;
        }
        form {
            max-width: 450px;
            margin: 0 auto;
        }
        .extras {
            float: right;
            text-align: right;
            a {
                display: block;
                margin-bottom: 1.5rem;
            }
        }

        .password-reset {
            h1 {
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 2rem;
            }
        }
    }
}
//about
#about{
    section {
        padding: 1rem 0 0 0;
    }
    h1, h2, h3, h4, h5 {
        color: $white;
    }

    p {
        color: $white;
    }

    ul {
        color: $white;
    }

    a {
        color: $white;
    }
    .post {
        font-size: 14px;
        padding: 1.5rem;
        background: lighten($mplight, 5%);

        h5 {
            margin: 0 0 0.5rem;
        }

        h1, h2, h3, h4, h5 {
            color: $white;
        }

        p {
            color: $white;
        }

        ul {
            color: $white;
        }

        a {
            color: $white;
        }

        span {
            display: block;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 0.5rem;
            color: darken($light, 25%);
        }
        
        .btnlist {
            ul {
                float: right;
                list-style: none;
                margin: 0rem 0 0;
                padding: 0;
            }
            li {
                display: inline-block;
                margin-right: 1rem;
                font-size: 12px;
            }
        }
    }
    .postitem{
        border-bottom: 1px solid $mplight;
        display: block;
        &:hover {
            background: lighten($mplight, 10%);
            cursor: pointer;
        }
    }
    .more{
        margin-top: 1rem;
        text-align: center;
    }
    @import 'markdown';
}
//post
#post {
    section {
        padding: 1rem 0 0 0;
    }

    .post {
        font-size: 14px;
        padding: 1.5rem;
        background: lighten($mplight, 5%);

        h5 {
            margin: 0 0 0.5rem;
        }

        h1, h2, h3, h4, h5 {
            color: $white;
        }

        p {
            color: $white;
        }

        ul {
            color: $white;
        }

        a {
            color: $white;
        }

        span {
            display: block;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 0.5rem;
            color: darken($light, 25%);
        }
        
        .btnlist {
            ul {
                float: right;
                list-style: none;
                margin: 0rem 0 0;
                padding: 0;
            }
            li {
                display: inline-block;
                margin-right: 1rem;
                font-size: 12px;
            }
        }
    }
    .no-results {
        background: #221f47;
        text-align: center;
        padding: 100px 1rem;
        color: #fff;
    }
    .comment {
        font-size: 14px;
        padding: 1.5rem;
        border-top: 1px solid #e6ecf0;

        &:first-of-type {
            border-top: 0;
        }

        h5 {
            margin: 0 0 0.5rem;
        }
        span {
            display: block;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 0.5rem;
            color: darken($light, 20%);
        }
        p {
            margin: 0;
            color: $white;
        }
    }

    .c-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($dark, 0.4);
        z-index: 999;

        .c-container {
            position: relative;
            max-width: 600px;
            margin: 30vh auto 0;
            padding: 2rem;
            border-radius: 3px;
            background: $white;
            box-shadow: 0 0 20px 0 rgba($dark, 0.5);

            a {
                position: absolute;
                top: 5px;
                right: 10px;
                padding: 5px;
            }
            .button {
                margin-top: 1rem;
            }
        }
    }
    @import 'markdown';
}

// dashboard
#dashboard {
    section {
        padding: 1rem 0 0 0;
    }
    .col1 {
        flex: 0 0 40%;
        @media screen and (max-width: 1000px) {
    		flex: 0 0 100%;
    	}
    }
    .profile {
        background: $white;
        padding: 1.5rem;
        border-radius: 10px;

        p {
            color: $medium;
            margin-bottom: 1rem;
        }
    }
    .create-post {
        p {
            margin-bottom: 0.5rem;
        }
        textarea {
            height: 200px;
            margin: 0;
        }
        .button {
            margin-top: 1rem;
            width: 100%;
            z-index: 5;
            border-radius: 0 0 3px 3px;
        }
    }
    .hidden-posts {
        text-align: center;
        border: 1px solid #e6ecf0;
        font-size: 14px;
        border-bottom: 0;
        background: $white;

        &:hover {
            background: #f5f8fa;
            cursor: pointer;
        }

        .new-posts {
            color: $primary;
        }
        p {
            padding: 15px;
            margin: 0 auto;
            color: darken($light, 25%);
        }
    }
    .post {
        border: 1px solid #e6ecf0;
        border-bottom: 0;
        font-size: 14px;
        padding: 1.5rem;
        background: $mplight;

        &:hover {
            background: lighten($mplight, 5%);
            cursor: pointer;
        }

        &:last-of-type {
            border-bottom: 1px solid $light;
        }

        h5 {
            margin: 0 0 0.5rem;
            color: $white;
        }

        p {
            color: $white;
        }

        a {
            color: $white;
        }

        span {
            display: block;
            font-style: italic;
            font-size: 12px;
            margin-bottom: 0.5rem;
            color: darken($light, 25%);
        }
        
        .btnlist {
            ul {
                float: right;
                list-style: none;
                margin: 0rem 0 0;
                padding: 0;
            }
            li {
                display: inline-block;
                margin-right: 1rem;
                font-size: 12px;
            }
        }
    }

    .no-results {
        background: #221f47;
        text-align: center;
        padding: 100px 1rem;
        color: #fff;
    }
    .c-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($dark, 0.4);
        z-index: 999;

        .c-container {
            position: relative;
            max-width: 600px;
            margin: 30vh auto 0;
            padding: 2rem;
            border-radius: 3px;
            background: $white;
            box-shadow: 0 0 20px 0 rgba($dark, 0.5);

            a {
                position: absolute;
                top: 5px;
                right: 10px;
                padding: 5px;
            }
            .button {
                margin-top: 1rem;
            }
        }
    }
    .postitem{
        display: block;
    }
    @import 'markdown';
}

// settings
#settings {

    h1, h2, h3, h4, h5 {
        color: $white;
    }

    p {
        color: $white;
    }

    ul {
        color: $white;
    }

    a {
        color: $white;
    }

    .col1 {
        max-width: 600px;
        margin: 1vh auto 0;
        background: $mplight;
        padding: 2rem;
    }

    form {
        margin-top: 3rem;
    }

    .success {
        color: $success;
        margin: 0.5rem 0 -2rem;
    }

    .button {
        margin-top: 2rem;
    }
}