<template>
    <div id="about">
        <section>
            <div class="col1">
                <div class="post">
                    <div class="markdown-body">
                        <h3>About me</h3>
                        <div v-html="compiledMe" v-bind:style="{ opacity: opacity }"></div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="post" style="margin-bottom: 2rem;">
                    <div class="markdown-body">
                        <h3>Website Info</h3>
                        <p>Online users : {{onlineUsers}}</p>
                        <p>Last update : 30 Jul 2019</p>
                    </div>
                </div>
                <div class="markdown-body" style="margin-bottom: 1rem;">
                    <h1>Recent Post</h1>
                </div>
                <div v-if="posts.length">
                    <router-link :to="{ path: `/post/${post.id}` }" v-for="post in posts.slice(0, 3)" class="post postitem" v-bind:key="post.id" >
                        <h5>{{ post.title }}</h5>
                        <span>{{ post.createdOn | formatDate }} - {{ post.userName }}</span>
                        <p :inner-html.prop="compiledPost(post.content) | trimLength"></p>
                    </router-link>
                    <div class="more">
                        <router-link :to="{ path: '/blog' }"><button class="button">More</button></router-link>
                    </div>
                </div>
                <div class="post" style="margin-bottom: 2rem;" v-else>
                    <p class="no-results">There are currently no posts</p>
                </div>

            </div>
        </section>
    </div>
</template>
<script>
    import { mapState } from 'vuex'
    import moment from 'moment'
    import axios from 'axios'
    export default {
        data() {
            return {
                me : '',
                opacity : 0
            }
        },
        computed: {
            ...mapState(['onlineUsers', 'posts']),
            compiledMe(){
                return marked(this.me)
            }
        },
        methods: {
            compiledPost(post){
                return marked(post)
            }
        },
        async mounted(){
            axios.get("/static/markdown/me.md").then(response => {
                this.me = response.data
                setTimeout(()=>{this.opacity = 1},200)
            })
        },
        filters: {
            formatDate(val) {
                if (!val) { return '-' }
                let date = val.toDate()
                return moment(date).fromNow()
            },
            trimLength(val) {
                var div = document.createElement("div");
                div.innerHTML = val;
                var text = div.textContent || div.innerText || "";

                if (text.length < 100) { return text }
                return `${text.substring(0, 100)}...`
            }
        }
    }
</script>