<template>
    <div id="dashboard">
        <section>
            <div class="col2">
                <transition name="fade">
                    <div v-if="hiddenPosts.length" @click="showNewPosts" class="hidden-posts">
                        <p>
                            Click to show <span class="new-posts">{{ hiddenPosts.length }}</span>
                            new <span v-if="hiddenPosts.length > 1">posts</span><span v-else>post</span>
                        </p>
                    </div>
                </transition>
                <div v-if="posts.length">
                    <router-link :to="{ path: `/post/${post.id}` }" v-for="post in posts" class="post postitem" v-bind:key="post.id" >
                        <h5>{{ post.title }}</h5>
                        <span>{{ post.createdOn | formatDate }} - {{ post.userName }}</span>
                        <p :inner-html.prop="compiledPost(post.content) | trimLength"></p>
                    </router-link>
                </div>
                <div v-else>
                    <p class="no-results">There are currently no posts</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import moment from 'moment'
    const fb = require('../firebaseConfig.js')

    export default {
        data() {
            return {
                post: {
                    title: '',
                    content: ''
                },
                fullPost: {}
            }
        },
        computed: {
            ...mapState(['userProfile', 'currentUser', 'posts', 'hiddenPosts']),
            compiledFullPost(){
                return marked(this.fullPost.content, { sanitize: true })
            }
        },
        methods: {
            compiledPost(post){
                return marked(post)
            }
        },
        filters: {
            formatDate(val) {
                if (!val) { return '-' }
                let date = val.toDate()
                return moment(date).fromNow()
            },
            trimLength(val) {
                var div = document.createElement("div");
                div.innerHTML = val;
                var text = div.textContent || div.innerText || "";

                if (text.length < 200) { return text }
                return `${text.substring(0, 200)}...`
            }
        }
    }
</script>
