<template>
    <div id="dashboard">
        <section>
            <div class="col1">
                <div class="profile">
                    <h5>{{ userProfile.name }}</h5>
                    <p>{{ userProfile.title }}</p>
                    <div class="create-post">
                        <p>New Post</p>
                        <form @submit.prevent>
                            <input v-model.trim="post.title" placeholder="Title"/>
                            <textarea v-model.trim="post.content" placeholder="Content"></textarea>
                            <button @click="createPost" :disabled="post.content == '' || post.title == ''" class="button">post</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="markdown-body col2">
                <div class="profile" v-html="compiledMarkdown">
                </div>
            </div>
        </section>
        <section>
            <div class="col2">
                <transition name="fade">
                    <div v-if="hiddenPosts.length" @click="showNewPosts" class="hidden-posts">
                        <p>
                            Click to show <span class="new-posts">{{ hiddenPosts.length }}</span>
                            new <span v-if="hiddenPosts.length > 1">posts</span><span v-else>post</span>
                        </p>
                    </div>
                </transition>
                <div v-if="posts.length">
                    <div v-for="post in posts" class="post" v-bind:key="post.id" @click="viewPost(post.id)">
                        <h5>{{ post.title }}</h5>
                        <span>{{ post.createdOn | formatDate }} - {{ post.userName }}</span>
                        <p :inner-html.prop="compiledPost(post.content) | trimLength"></p>
                    </div>
                </div>
                <div v-else>
                    <p class="no-results">There are currently no posts</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import moment from 'moment'
    const fb = require('../firebaseConfig.js')

    export default {
        data() {
            return {
                post: {
                    title: '',
                    content: ''
                }
            }
        },
        computed: {
            ...mapState(['userProfile', 'currentUser', 'posts', 'hiddenPosts']),
            compiledMarkdown() {
                if(this.post.content == ""){
                    return "<center>No content</center>"
                }
                return marked(this.post.content)
            }
        },
        methods: {
            compiledPost(post){
                return marked(post)
            },
            createPost() {
                fb.postsCollection.add({
                    createdOn: new Date(),
                    title: this.post.title,
                    content: this.post.content,
                    userId: this.currentUser.uid,
                    userName: this.userProfile.name,
                    comments: 0,
                    likes: 0
                }).then(ref => {
                    this.post.content = ''
                }).catch(err => {
                    console.log(err)
                })
            },
            viewPost(postId) {
                this.$router.push(`/post/${postId}`)
            }
        },
        filters: {
            formatDate(val) {
                if (!val) { return '-' }
                let date = val.toDate()
                return moment(date).fromNow()
            },
            trimLength(val) {
                var div = document.createElement("div");
                div.innerHTML = val;
                var text = div.textContent || div.innerText || "";

                if (text.length < 100) { return text }
                return `${text.substring(0, 100)}...`
            }
        }
    }
</script>
