<template>
    <header>
        <section>
            <div class="col1">
                <router-link v-if="header.displayLogo" :to="{ path: '/dashboard' }"></router-link>
                <h3 v-else>
                    <span class="backarrowdiv" @click="$router.go(-1)">
                        <img class="backarrow" src="~@/assets/baseline_arrow_back_ios_white_18dp.png" />
                    </span> 
                    <span>{{header.title}}</span>
                </h3>
                <ul class="inline deskop">
                    <li class="menuitem"><router-link :to="{ path: '/' }">Home</router-link></li>
                    <li class="menuitem"><router-link :to="{ path: '/blog' }">Blog</router-link></li>
                    <li v-if="currentUser" class="menuitem"><router-link :to="{ path: '/dashboard' }">Dashboard</router-link></li>
                    <li v-if="currentUser" class="menuitem"><router-link :to="{ path: '/settings' }">Settings</router-link></li>
                    <li v-if="currentUser" class="menuitem"><a @click="logout">Logout</a></li>
                    <li v-else><router-link :to="{ path: '/login' }">Login</router-link></li>
                </ul>
            </div>
        </section>
    </header>
</template>

<script>
    import { mapState } from 'vuex'

    const fb = require('../firebaseConfig.js')

    export default {
        methods: {
            logout() {
                fb.auth.signOut().then(() => {
                    this.$store.dispatch('clearData')
                    this.$router.push('/login')
                }).catch(err => {
                    console.log(err)
                })
            }
        },
        computed: {
            ...mapState(['currentUser', 'header']),
        }
    }
</script>
