<template>
    <div id="post">
        <section>
            <div class="col2">
                <div class="post">
                    <h5>{{ fullPost.title }}</h5>
                    <span>{{ fullPost.createdOn | formatDate }} - {{ fullPost.userName }}</span>
                    <div class="markdown-body">
                        <div v-html="compiledFullPost"></div>
                    </div>
                    <div class="btnlist" v-show="currentUser">
                        <ul>
                            <li><a @click="openCommentModal(fullPost)">comments {{ fullPost.comments }}</a></li>
                            <li><a @click="likePost(fullPost.id, fullPost.likes)">likes {{ fullPost.likes }}</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div v-show="postComments.length" class="comments">
                    <div v-for="comment in postComments" class="comment" v-bind:key="comment.id">
                        <p>{{ comment.userName }}</p>
                        <span>{{ comment.createdOn | formatDate }}</span>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- comment modal -->
        <transition name="fade">
            <div v-if="showCommentModal" class="c-modal">
                <div class="c-container">
                    <a @click="closeCommentModal">X</a>
                    <p>add a comment</p>
                    <form @submit.prevent>
                        <textarea v-model.trim="comment.content"></textarea>
                        <button @click="addComment" :disabled="comment.content == ''" class="button">add comment</button>
                    </form>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import moment from 'moment'
    const fb = require('../firebaseConfig.js')

    export default {
        data() {
            return {
                post: {
                    title: '',
                    content: ''
                },
                comment: {
                    postId: '',
                    userId: '',
                    content: '',
                    postComments: 0
                },
                showCommentModal: false,
                showPostModal: false,
                fullPost: { content : ''},
                postComments: []
            }
        },
        computed: {
            ...mapState(['userProfile', 'currentUser']),
            compiledFullPost(){
                return marked(this.fullPost.content)
            }
        },
        methods: {
            compiledPost(post){
                return marked(post)
            },
            showNewPosts() {
                let updatedPostsArray = this.hiddenPosts.concat(this.posts)
                // clear hiddenPosts array and update posts array
                this.$store.commit('setHiddenPosts', null)
                this.$store.commit('setPosts', updatedPostsArray)
            },
            openCommentModal(post) {
                this.comment.postId = post.id
                this.comment.userId = post.userId
                this.comment.postComments = post.comments
                this.showCommentModal = true
            },
            closeCommentModal() {
                this.comment.postId = ''
                this.comment.userId = ''
                this.comment.content = ''
                this.showCommentModal = false
            },
            addComment() {
                let postId = this.comment.postId
                let postComments = this.comment.postComments

                console.log(postId)

                fb.commentsCollection.add({
                    createdOn: new Date(),
                    content: this.comment.content,
                    postId: postId,
                    userId: this.currentUser.uid,
                    userName: this.userProfile.name
                }).then(doc => {
                    fb.postsCollection.doc(postId).update({
                        comments: postComments + 1
                    }).then(() => {
                        this.closeCommentModal()
                        this.loadPost(this.fullPost.id)
                        this.fullPost.comments++
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
            likePost(postId, postLikes) {
                let docId = `${this.currentUser.uid}_${postId}`

                fb.likesCollection.doc(docId).get().then(doc => {
                    if (doc.exists) { return }

                    fb.likesCollection.doc(docId).set({
                        postId: postId,
                        userId: this.currentUser.uid
                    }).then(() => {
                        // update post likes
                        fb.postsCollection.doc(postId).update({
                            likes: postLikes + 1
                        })

                        this.fullPost.likes++
                    })
                }).catch(err => {
                    console.log(err)
                })
            },
            loadPost(postId){
                fb.postsCollection.doc(postId).get().then(doc =>{

                    if (doc.exists) {
                        let post = doc.data()

                        this.fullPost = post
                        this.fullPost.id = postId

                        document.title = `${this.fullPost.title}`

                        this.$store.commit('setHeader',{
                            title : "Post",
                            displayLogo: false
                        })
                    } 
                    else {
                        // doc.data() will be undefined in this case
                        alert("No such document!")
                        this.$router.push("/")
                    }
                })

                fb.commentsCollection.where('postId', '==', postId).orderBy("createdOn", "desc").get().then(docs => {
                    let commentsArray = []

                    docs.forEach(doc => {
                        let comment = doc.data()
                        comment.id = doc.id
                        commentsArray.push(comment)
                    })

                    this.postComments = commentsArray
                }).catch(err => {
                    console.log(err)
                })
            }
        },
        filters: {
            formatDate(val) {
                if (!val) { return '-' }
                let date = val.toDate()
                return moment(date).fromNow()
            },
            trimLength(val) {
                var div = document.createElement("div");
                div.innerHTML = val;
                var text = div.textContent || div.innerText || "";

                if (text.length < 100) { return text }
                return `${text.substring(0, 100)}...`
            }
        },
        async mounted() {
            const { params } = this.$route
            await this.loadPost(params.postId)
        }
    }
</script>
