<template>
    <div id="app">
        <Navigation v-if="showNavBar"></Navigation>
    	<router-view/>
        <footer v-if="showNavBar">
            <div>
                <a>© 2019 Dennis</a>
            </div>
        </footer>
        <div class="bottom-bar">
            <ul class="inline deskop">
                <li class="menuitem"><router-link :to="{ path: '/' }">Home</router-link></li>
                <li class="menuitem"><router-link :to="{ path: '/blog' }">Blog</router-link></li>
                <li v-if="currentUser" class="menuitem"><router-link :to="{ path: '/dashboard' }">Dashboard</router-link></li>
                <li v-if="currentUser" class="menuitem"><router-link :to="{ path: '/settings' }">Settings</router-link></li>
                <li v-else><router-link :to="{ path: '/login' }">Login</router-link></li>
            </ul>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import Navigation from './components/Navigation.vue'

    export default {
        components: { Navigation },
        computed: {
            ...mapState(['currentUser', 'showNavBar'])
        }
    }
</script>
